*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{width: 100%; height: 100%;}


/* ------------Header------------ */
.top-container{
    
    color:white;
    background-color: #121d33;
    width: 100%;
    height: 76px;
}

.menu{
    display: flex;
    margin: 0 50px;
    height: 100%;
}
    
/* Left menu */
.left-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:60%;
    height: 100%;
}

.nav-list{
    display: flex;
    justify-content: space-between;
}

#logo-blockchain-text{
    font-weight: 1000;
}

.nav-list a{
    color:rgb(204, 210, 222);
    cursor:pointer;
    text-decoration: none;
    font-weight: 500;
    margin: 8px;
    padding: 4px 8px;
}

.nav-list a:hover{
    color: rgb(255, 255, 255);
    background-color: rgba(240, 242, 247, 0.1);
}


/* ------------Right Menu------------ */
.right-menu{
    display: flex;
    justify-content: end;
    align-items: center;
    gap:20px;
    width:40%;
    right:0%;
}

.icon-circle{
    cursor:pointer;
    border: 1px solid white;
    border-radius: 100%;
    padding: 10px;
    margin-right: -10px;
    height: 50px;
    background-color: #969696;
}


/* Login sign in */
.two-logsign-btn{
    font-size:14px;

}

.two-logsign-btn button{
    padding: 10px 14px;
    margin:0 10px
}

